@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/ComfortaaRegular.woff2') format('woff2'),
        url('../fonts/ComfortaaRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/ComfortaaMedium.woff2') format('woff2'),
        url('../fonts/ComfortaaMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/ComfortaaBold.woff2') format('woff2'),
        url('../fonts/ComfortaaBold.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}