:root {
   --white-color: #fff;
   --black-color: #000;
   --background-color: #f3f6fd;
   --aside-color: #fbfaff;
   --accent-color: #6a6afb;
   --active-color: #5051f9;
   --dark-blue: #232360;
   --space-grey: #768396;
   --grey-color: #e6e9ed;
}